:root {
    --main-principal-color-cian: #00ffff;
    --main-principal-color-gray: #bdbdbd;
    --main-secondary-color-blue: #0c9de8;
    --main-common-color-white: #fff;
    --main-common-color-black: #212529;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(/assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Italic";
    src: url(/assets/fonts/Poppins/Poppins-Italic.ttf);
}

@font-face {
    font-family: "Poppins-Light";
    src: url(/assets/fonts/Poppins/Poppins-Light.ttf);
}

*{
    font-family: "Poppins-Regular";
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: 100%;
    background-color: var(--main-common-color-white);
}

#text-logo{
    margin-left: 5px;
    font-size: revert;
    font-family: "Poppins-Light";
}

.icons-menu{
    color: var(--main-common-color-white);
    font-size: x-large;
}

#section-carousel-products-promocion .carousel-inner img{
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
}

.section-title {
    font-size: xxx-large;
    font-family: "Poppins-Bold";
}

.section-subtitle{
    font-size:x-large;
    font-family: "Poppins-Italic";
    border-bottom: 2px solid var(--main-common-color-black);
}

footer{
    background-color: var(--main-common-color-black);
    width: auto;
    height: auto;
}

#footer-body-info{
    border-top: 2px solid var(--main-common-color-white);
    font-family: "Poppins-Light";
    font-size: 16px;
    color: var(--main-common-color-white);
}

.divider-vertical{
    border-right: 2px solid var(--main-principal-color-gray);
}

#nav-shopping-cart{
    cursor: pointer;
}

.modal-user-title{
    font-family: "Poppins-Bold";
    font-size: xx-large;
    color: var(--main-principal-color-gray);
}

#aside-shopping-cart{
    visibility:hidden;
    background-color:var(--main-common-color-white);
    position:fixed;
    width: 400px;
    top: 0px;
    right: 0px;
    z-index: 10;
    border-radius: 50px 0px 0px 50px;
    border: 1px solid var(--main-common-color-black);
    box-shadow: 2px 2px 2px var(--main-common-color-black);
}

#shopping-cart-header{
    border-bottom: 2px solid var(--main-principal-color-gray);
}

.shopping-cart-item{
    width: 90%;
    height: fit-content;
    border-bottom: 2px solid var(--main-principal-color-gray);
}

.shopping-cart-item img{
    width: 100%;
}

#shopping-cart-close{
    cursor: pointer;
}

#shopping-cart-title{
    font-size: xx-large;
    font-family: "Poppins-Bold";
}

.card{
    border: 1px solid var(--main-principal-color-gray);
    transition: all .2s ease-in-out;
}

.card:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px var(--main-common-color-black);
    transform: scale(1.1);
}

#shopping-cart-count{
    background-color: var(--main-principal-color-cian);
    font-size: small;
    font-family: "Poppins-Bold";
    color: var(--main-common-color-black);
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    float: right;
}
